<nav id="nav-master" ng-controller="NavCtrl" class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid background-white">

    <div class="navbar-header">
      <!-- mobile navbar stylings begin -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <img ng-src="{{ user.profile.avatar }}" class="navbar-img avatar">
      </button>
      <!-- mobile navbar stylings end -->   
      <a class="navbar-brand" ng-href="#/">
        <img src="https://i.imgur.com/NZPuaBZ.png" class="navbar-img" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Use jquery to toggle searchbar open/close -->
        <!-- Info alert for new comments toggle hidden class to dismiss -->
        <li class="hidden-xs">
          <form class="input-prepend">
            <input ng-model="search.searchPosts" class="nav-searchbar" type="text" placeholder="Search" />
            <button class="add-on" type="submit" ><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li class="hidden-xs" ng-show="(alertButton() && !$rootScope.ignoreAlert)">
          <a class="alert alert-info alert-dismissible" role="alert" id="reply-alert" ng-click="dismissAlert()">
              <span>You have new replies!</span>
          </a>                
        </li>

        <!-- Mobile Menu options -->
        <li class="visible-xs-inline col-xs-3 menu-item text-center">
          <a class"btn-small" ng-href="#/">Return Home</a>
        </li>
        <li class="visible-xs-inline col-xs-3 menu-item text-center">
          <a class"btn-small" ng-href="#/users/{{ user.uid }}">View Profile</a>
        </li>
        <li class="visible-xs-inline col-xs-3 menu-item text-center">
          <a class"btn-small" ng-click="logout()">Log Out</a>
        </li>
        <li class="visible-xs-inline col-xs-3 menu-item text-center">
          <a class"btn-small" data-toggle="collapse" data-target="#search-item">Search</a>
        </li>
        <div id="search-item" class="collapse">
          <form class="input-prepend">
            <input ng-model="search.searchPosts" class="nav-searchbar" type="text" placeholder="Search" />
            <button class="add-on" type="submit" ><i class="fa fa-search"></i></button>
            <!-- Other sort/filter options go here...-->
          </form>
        </div>
        <li> 
          <a class="hidden-xs" data-toggle="dropdown">
            <img ng-src="{{ user.profile.avatar }}" class="avatar" />
          </a>
          <ul class="dropdown-menu" role="menu"> 
            <li><a ng-href="#/">Home</a></li> 
            <li><a ng-href="#/users/{{ user.uid }}">View Profile</a></li> 
            <li class="divider"></li> 
          <li><a ng-click="logout()">Log Out</a></li> 
          </ul>
        </li>
      </ul>  
    <!-- End collapse navbar lists -->
    </div>
  <!-- End container fluid -->
  </div>
<!-- End Nav -->
</nav>