<nav id="nav-master" ng-controller="NavCtrl" class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid background-white">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"> 
      <span class="sr-only">Toggle navigation</span>
      <!-- Use as icon for dropdown menu -->
      <img src="images/user.jpg" class="navbar-img">
      </button> 
      <a class="navbar-brand" ng-href="#/main/">Logo Goes Here (main)</a> 
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Use jquery to toggle searchbar open/close -->
        <li>
          <div id="nav-searchbar" class="input-prepend">
            <span class="add-on"><i class="fa fa-search"></i></span>
            <input class="span2" type="text" placeholder="search">
          </div>
        </li>
        
        <!-- Mobile Menu options -->
        <li class="visible-xs-inline">
          <a ng-href="#/users/{{ user.uid }}">View Profile</a>
        </li>
        <li class="visible-xs-inline">
          <a href="">Edit Profile</a>
        </li>
        <li class="visible-xs-inline">
          <a href="" ng-click="logout()">Log Off</a>
        </li>

        <!-- Browser menu options -->
        <li> 
          <a class="dropdown-toggle hidden-xs" data-toggle="dropdown"><img src="images/user.jpg" class="navbar-img"></a> 
          <ul class="dropdown-menu" role="menu"> 
            <li><a ng-click="getInfo()" ng-href="#/users/{{ user.uid }}">View Profile</a></li> 
            <li><a href="">Edit Profile</a></li> 
            <li class="divider"></li> 
            <li><a ng-click="logout()">Log Off</a></li> 
          </ul> 
        </li>
      </ul>  
    <!-- End collapse navbar lists -->
    </div>
  <!-- End container fluid -->
  </div>
<!-- End Nav -->
</nav>