<nav id="nav-master" ng-controller="NavCtrl" class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid background-white">

    <div class="navbar-header">
      <!-- mobile navbar stylings begin -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <a id="#reply-alert">
        <div class="alert alert-info alert-dismissible visible-xs-inline" role="alert">
          <span>0</span>
        </div>
      </a>           
      <img ng-src="{{ user.profile.avatar }}" class="navbar-img avatar">
      </button>
      <!-- mobile navbar stylings end -->   
      <a class="navbar-brand" href="#/">
        <img src="images/conclave-logo.png" class="navbar-img" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Use jquery to toggle searchbar open/close -->
        <li>
          <div id="nav-searchbar" class="input-prepend">
            <span class="add-on"><i class="fa fa-search"></i></span>
            <input class="span2" type="text" placeholder="search">
          </div>
        </li>
        <!-- Info alert for new comments toggle hidden class to dismiss -->
        <li class="hidden-xs">
          <a id="reply-alert" href="">
            <div class="alert alert-info alert-dismissible" role="alert">
              new comments: <span>0</span>
            </div>
          </a>                
        </li>

        <!-- Mobile Menu options -->
        <li class="visible-xs-inline">
          <a ng-href="#/users/{{ user.uid }}">View Profile</a>
        </li>
        <li class="visible-xs-inline">
          <a href="">Edit Profile</a>
        </li>
        <li class="visible-xs-inline">
          <a href="">Log Off</a>
        </li>

        <li> 
          <a class="hidden-xs" data-toggle="dropdown">
            <img ng-src="{{ user.profile.avatar }}" class="avatar" />
          </a>
          <ul class="dropdown-menu" role="menu"> 
            <li><a ng-href="#/users/{{ user.uid }}">View Profile</a></li> 
            <li class="divider"></li> 
          <li><a href="#">Log Off</a></li> 
          </ul>
        </li>
      </ul>  
    <!-- End collapse navbar lists -->
    </div>
  <!-- End container fluid -->
  </div>
<!-- End Nav -->
</nav>