<script>$('#nav-master').css('display','block');</script>

<div class="container-fluid profile">
  <div class="container-fluid content-section">
    <!-- User Information Header -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 profile-full-screen">
        <img ng-src="{{ user.profile.avatar }}">
        <h1><span>{{ user.profile.username }}</span></h1>
        <a ng-href="{{ user.profile.link }}">{{ user.profile.linkTitle }}</a>
        <p>{{ user.profile.about }} {{ user.profile.email }}</p>

        <dl class="dl-horizontal">
          <!-- Show user post count -->
          <dt>Posts Made</dt>
          <dd><span class="badge">{{ user.profile.postCount }}</span></dd>
          <!--EDIT PROFILE w/ modal HTML BUTTON TRIGGER-->
          <dt>
            <a id="editButton" data-toggle="modal" ng-hide="signedIn()" data-target="#editProfileModal">Edit Profile</a>
          </dt>
        </dl>
      </div>
    </div>
    <!-- User Information Header END -->

    <!-- Individual Post Template -->
    <div class="post-template" ng-repeat="post in posts" ng-init="thisUser = attachProfile(post.creatorUID)">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 background-white post-main">
          <img ng-src="{{ thisUser.avatar }}" class="post-avatar" />
          <ul class="list-group">
            <li class="list-group-item">
              <a ng-click="deletePost(post.$id)" ng-show="user.uid === post.creatorUID" class="delete-post">X</a>
            </li>
            <li class="list-group-item">
              <i class="view-post fa fa-plus" data-toggle="modal" data-target="#viewPostModal" ng-click="loadReplies(post)"></i>     
            </li>
            <li class="list-group-item">
              <p>{{ post.replyCount }}</p> <!-- Testing Purposes Only! -->
            </li>

          </ul>
          <h5>
            <span class="post-title">{{ post.title }}</span><br />
            <span class="timestamp"> 
              {{ post.creator }} - {{ post.postTime }} {{ post.postDate }} - {{ post.keyword }}
            </span>
          </h5>
          <p>{{ post.content }}</p>
        </div>
      </div>
    </div>
      <!-- Individual Post Template END -->
  </div>
</div>

  <!-- View Post Modal -->
  <div class="modal fade" id="viewPostModal" tabindex="-1" role="dialog" aria-labelledby="viewPostModalLabel" aria-hidden="true"> 
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-header"> 
          <img ng-src="{{ author.avatar }}" />
          <h4 class="modal-title" id="viewPostModalLabel">{{ viewPost.title }}</h4>
          <h4 class="timestamp">
              <span>{{ author.username }} - 
              {{ viewPost.postTime }} {{ viewPost.postDate }} - 
              {{ viewPost.keyword }}</span>
          </h4>
        </div> 

        <div class="modal-body">
          <div class="post-content">
            <h4>{{ viewPost.content }}</h4>
          </div>

          <div class="post-template" ng-repeat="reply in replies" ng-init="thisUser = attachProfile(reply.creatorUID)">
            <div class="row">
              <div class="background-white post-main">
                <img ng-src="{{ thisUser.avatar }}" /> 
                <h5><span class="timestamp">
                  {{ thisUser.username }} - 
                  {{ reply.postTime }} {{ reply.postDate }}
                </span></h5>
                <p>{{ reply.content }}</p>
              </div>
            </div>
          </div>
        </div> 

        <form class="modal-footer" ng-submit="addReply(viewPost.$id)"> 
          <textarea class="form-control" rows="3" placeholder="Reply" ng-model="reply.content"></textarea> 
          <button type="button" id="cancel-reply" ng-click="resetForm()" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div> 
  </div>
  <!-- View Post Modal END-->

  <!--Edit Profile Modal -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Edit Profile</h1> 
        </div>

        <form ng-submit="editProfile()">
          <div class="modal-body text-center">
            <div class="row">
              <div class="col-xs-3">
                <!-- Add hidden div that on hover will show caption 
                    "edit picture" -->
                <img ng-src="{{ user.profile.avatar }}" style="height:100px;width:100px;border-radius:50%;">
                <dt>
                  <a id="avatarButton" data-toggle="modal" ng-hide="signedIn()" data-target="#uploadAvatarModal">Upload Avatar</a>
                </dt>
              </div>
              <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="user.profile.username" placeholder="{{ user.profile.username }}" />
                <input type="url" class="form-control" ng-model="user.profile.link" placeholder="{{ user.profile.link }}" />
                <input type="text" class="form-control" ng-model="user.profile.linkTitle" placeholder="{{ user.profile.linkTitle }}" />
                
              </div>
            </div>
            <textarea class="form-control" rows="5" ng-model="user.profile.about" placeholder="About Me"></textarea>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default"data-toggle="modal" style="color:white" ng-hide="signedIn()" data-target="#changePassModal">Change Password</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
          </div>             
        </form>
      </div>
    </div>
  </div>
  <!--Edit Profile Modal END-->

  <!--Change Password Modal -->
  <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Change Password</h1> 
          <hr />
        </div>

        <form ng-submit="changePass()">
          <div class="modal-body text-center">
            <div class="row">
              <div class="col-md-12">
                <h4>Please fill out this form to change your password. </h4>
                <p id="error" ng-show="error" class="text-danger">{{ error }}</p>
                <input type="email" class="form-control" ng-model="email" placeholder="Email Address" />
                <input type="password" class="form-control" ng-model="oldPass" placeholder="Old Password" />
                <input type="password" class="form-control" ng-model="newPass1" placeholder="New Password" />
                <input type="password" class="form-control" ng-model="newPass2" placeholder="Retype New Password" />
              </div>
            </div>
          </div>

          <div class="modal-footer"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>             
        </form>
      </div>
    </div>
  </div>
  <!--Edit Profile Modal END-->

  <!--Upload Avatar Modal -->
  <div class="modal fade" id="uploadAvatarModal" tabindex="-1" role="dialog" aria-labelledby="uploadAvatarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Upload Avatar</h1> 
          <hr />
        </div>

        <form ng-submit="uploadAvatar()">
          <div class="modal-body text-center">
            <div class="row">
              <div class="col-md-12">
                <h4>Placeholder text, but this needs image size restrictions. Or at least what the final dimensions will be. And a loading/wait/progress thing.</h4>
                <input type="file" accept="image/*" id="newAvatar" class="form-control" />
              </div>
            </div>
          </div>

          <div class="modal-footer"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>             
        </form>
      </div>
    </div>
  </div>
  <!--Upload Avatar Modal END-->



  