<script>$('#nav-master').css('display','block');</script>
<div  class="container profile">

<!-- Copy/Paste From Front End Prototype -->
  <div class="container-fluid content-section">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 background-white profile-full-screen">
        <img ng-src="{{ user.profile.avatar }}">
        <h1><span>{{ user.profile.username }}</span></h1>
        <a ng-href="{{ user.profile.link }}">{{ user.profile.linkTitle }}</a>
        <p>{{ user.profile.about }} {{ user.profile.email }}</p>

        <!-- Show user post count -->
        <dl class="dl-horizontal">
          <dt>Posts</dt>
          <dd><span class="badge">{{ user.profile.postCount }}</span></dd>
        </dl>

        <!-- Show user reply count -->
        <dl class="dl-horizontal">
          <dt>Replies</dt>
          <dd><span class="badge">{{ user.profile.replyCount }}</span></dd>
        </dl>

        <!--EDIT PROFILE w/ modal HTML BUTTON TRIGGER-->
        <a id="editButton" data-toggle="modal" ng-hide="signedIn()" data-target="#editProfileModal">Edit Profile</a>

        <!--EDIT PROFILE w/ modal HTML-->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Edit Profile</h1> 
                <button type="button" class="close" data-dismiss="modal"><spanaria-hidden="true">×</span><spanclass="sr-only"></span></button> 
              </div>

              <form ng-submit="editProfile()">
                <div class="modal-body text-center">
                  <div class="row">
                    <div class="col-xs-3">
                      <!-- Add hidden div that on hover will show caption 
                          "edit picture" -->
                      <a><img ng-src="{{ user.profile.avatar }}" style="height:100px;width:100px;border-radius:50%;"></a>
                    </div>
                    <div class="col-xs-9">
                      <input type="text" class="form-control" ng-model="user.profile.username" placeholder="{{ user.profile.username }}" />
                      <input type="text" class="form-control" ng-model="user.profile.link" placeholder="{{ user.profile.link }}" />
                      <input type="text" class="form-control" ng-model="user.profile.linkTitle" placeholder="{{ user.profile.linkTitle }}" />
                      <input type="file" accept="image/*" id="newAvatar" class="form-control" />
                    </div>
                  </div>
                  <textarea class="form-control" rows="5" ng-model="user.profile.about" placeholder="About Me"></textarea>
                </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>             
              </form>
            </div>
          </div>
        </div>
        <!--EDIT PROFILE w/ modal HTML END-->
      </div>
    </div>

    <!-- Individual Post Template -->
    <div class="post-template" ng-repeat="post in posts">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 background-white post-main">
          <img ng-src="{{ post.creatorAvatar }}" class="post-avatar" />
        
          <ul class="list-group">
            <li class="list-group-item">
              <a ng-click="deletePost(post.$id)" ng-show="user.uid === post.creatorUID" class="delete-post">X</a>
            </li>
            <li class="list-group-item">
              <i class="badge" data-toggle="modal" data-target="#viewPostModal" ng-click="getPostId(post)">{{ post.replyCount }}</i>
            </li>
          </ul>
          <h5>
            <span class="post-title">{{ post.title }}</span><br />
            <span class="timestamp"> 
              {{ post.creator }} - {{ post.postTime }} {{ post.postDate }} - {{ post.keyword }}
            </span>
          </h5>
          <p>{{ post.content }}</p>
        </div>
      </div>
    </div>
      <!-- FULL POST TEMPLATE END -->

    <!-- View Post Modal -->
    <div class="modal fade" id="viewPostModal" tabindex="-1" role="dialog" aria-labelledby="viewPostModalLabel" aria-hidden="true"> 
      <div class="modal-dialog"> 

        <div class="modal-content">
          <div class="modal-header"> 
            <img ng-src="{{ viewPost.creatorAvatar }}" />
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"></span></button> 
            <h4 class="modal-title" id="viewPostModalLabel">{{ viewPost.title }}</h4>
            <h4 class="timestamp">
                <span>{{ viewPost.creator }} - 
                {{ viewPost.postTime }} {{ viewPost.postDate }} - 
                {{ viewPost.keyword }}</span>
            </h4>
          </div> 

          <div class="modal-body">
            <div class="post-content">
              <h4>{{ viewPost.content }}</h4>
            </div>

            <div class="post-template" ng-repeat="reply in replies">
              <div class="row">
                <div class="background-white post-main">
                  <img ng-src="{{ reply.creatorAvatar }}" /> 
                  <h5><span class="timestamp">
                    {{ reply.creator }} - 
                    {{ reply.postTime }} {{ reply.postDate }}
                  </span></h5>
                  <p>{{ reply.content }}</p>
                </div>
              </div>
            </div>
          </div> 

          <form class="modal-footer" ng-submit="addReply(viewPost)"> 
            <textarea class="form-control" rows="3" placeholder="Reply" ng-model="reply.content"></textarea> 
            <div class="col-xs-4 col-xs-offset-4">
              <button type="button" id="cancel-reply" ng-click="resetForm()" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary">Post</button> 
            </div>
          </form>
        </div>
      </div> 
    </div>
    <!-- View Post Modal End-->